<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Preguntas de Verificacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-badge color="warning">Responda las siguientes preguntas de forma correcta</ion-badge>
      </ion-item>
      <ion-item>
        <ion-input label="cedula" [(ngModel)]="txt_cedula"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="correo" [(ngModel)]="txt_correo"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>



  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Nueva clave</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="clave" type="password" [(ngModel)]="txt_clave" (focusout)="vclave()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirmar clave" type="password" [(ngModel)]="txt_clave2" (focusout)="vclave()"></ion-input>
        <label color="danger">{{mensaje}}</label>
      </ion-item>
    </ion-card-content>
  </ion-card>
<ion-item>
  <ion-button (click)="cclave()" [disabled]="bloqueado">Guardar</ion-button>
</ion-item>
</ion-content>