<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Paso 1: Ingresar CI -->
  <div *ngIf="paso == 1">
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input [(ngModel)]="ci"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="buscarPregunta()">Continuar</ion-button>
  </div>

  <!-- Paso 2: Mostrar pregunta -->
  <div *ngIf="paso == 2">
    <ion-item>
      <ion-label>{{ pregunta }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuesta"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="validarRespuesta()">Validar</ion-button>
  </div>

  <!-- Paso 3: Nueva clave -->
  <div *ngIf="paso == 3">
    <ion-item>
      <ion-label position="floating">Nueva Clave</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" (click)="actualizarClave()">Actualizar Clave</ion-button>
  </div>

</ion-content>
