<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">CI</ion-label>
      <ion-input type="text" [(ngModel)]="txt_cedula" (focusout)="vcedula()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="txt_nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="txt_apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="txt_correo" (focusout)="vclave()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" [(ngModel)]="txt_clave" (focusout)="vclave()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Verificar clave" type="password" [(ngModel)]="txt_clave2" (focusout)="vclave()"></ion-input>
      <ion-label color="danger">{{mensaje}}</ion-label>
    </ion-item>

    
    <ion-item>
      <ion-button expand="block" color="primary" (click)="guardar()" [disabled]="bloqueado">Guardar</ion-button> 
      <ion-button expand="block" color="primary" (click)="cancelar()">Cancelar</ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
