<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">CI</ion-label>
      <ion-input type="text" [(ngModel)]="ci"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pregunta de Seguridad</ion-label>
      <ion-input [(ngModel)]="pregunta"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuesta"></ion-input>
    </ion-item>
    

    <ion-button expand="block" color="primary" (click)="crearCuenta()">
      Crear Cuenta
    </ion-button>

  </ion-list>
</ion-content>
